In [33]:
import sys
print(sys.executable)

c:\Users\ReDI\AppData\Local\Programs\Python\Python312\python.exe

In [34]:
import pandas as pd
print(pd.__version__)

2.2.3

In [35]:
trump_df = pd.read_csv("trump.csv",lineterminator='\n')

In [36]:
trump_df.shape

(970919, 21)

In [37]:
trump_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970919 entries, 0 to 970918
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            970919 non-null  object
 1   tweet_id              970919 non-null  float64
 2   tweet                 970919 non-null  object
 3   likes                 970919 non-null  float64
 4   retweet_count         970919 non-null  float64
 5   source                970043 non-null  object
 6   user_id               970919 non-null  float64
 7   user_name             970897 non-null  object
 8   user_screen_name      970919 non-null  object
 9   user_description      869651 non-null  object
 10  user_join_date        970919 non-null  object
 11  user_followers_count  970919 non-null  float64
 12  user_location         675957 non-null  object
 13  lat                   445719 non-null  float64
 14  long                  445719 non-null  float64
 15  city                  227187 non-null  object
 16  country               442748 non-null  object
 17  continent             442765 non-null  object
 18  state                 320620 non-null  object
 19  state_code            300425 non-null  object
 20  collected_at          970919 non-null  object
dtypes: float64(7), object(14)
memory usage: 155.6+ MB

In [38]:
trump_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:01,1.316529e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,3.316176e+08,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,1067661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530
2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,1185.0,Portland,45.520247,-122.674195,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
3,2020-10-15 00:00:02,1.316529e+18,2 hours since last tweet from #Trump! Maybe he...,0.0,0.0,Trumpytweeter,8.283556e+17,Trumpytweeter,trumpytweeter,"If he doesn't tweet for some time, should we b...",...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.119649591
4,2020-10-15 00:00:08,1.316529e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,4.741380e+07,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,"Washington Correspondent, Lebanese-American ,c...",...,5393.0,Washington DC,38.894992,-77.036558,Washington,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121

In [39]:
trump_df.columns

Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at'],
      dtype='object')

In [40]:
trump_df.drop(['tweet_id', 'source', 'city',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date','long','lat'], axis=1,inplace=True)

In [41]:
trump_df.describe()

               likes  retweet_count  user_followers_count
count  970919.000000  970919.000000          9.709190e+05
mean        7.477011       1.698500          2.260357e+04
std       158.058117      40.028419          3.042152e+05
min         0.000000       0.000000          0.000000e+00
25%         0.000000       0.000000          7.700000e+01
50%         0.000000       0.000000          4.410000e+02
75%         1.000000       0.000000          2.066000e+03
max     74084.000000   20491.000000          1.911533e+07

In [42]:
trump_df.duplicated().sum()
#no duplicate rows in DataFrame trump_df

np.int64(0)

In [43]:
trump_df.isnull().sum()
#NaN values for each column

created_at                   0
tweet                        0
likes                        0
retweet_count                0
user_followers_count         0
user_location           294962
country                 528171
continent               528154
state                   650299
state_code              670494
collected_at                 0
dtype: int64

In [44]:
trump_df['continent'].unique()

array(['North America', nan, 'Europe', 'Oceania', 'Africa',
       'South America', 'Asia', 'Antarctica'], dtype=object)

In [45]:
trump_df['country'].unique()

array(['United States of America', nan, 'United Kingdom', 'Germany',
       'United States', 'Australia', 'Costa Rica', 'Barbados', 'Cameroon',
       'The Netherlands', 'Mexico', 'Canada', 'France', 'Peru',
       'Argentina', 'South Korea', 'Finland', 'Mongolia', 'India',
       'Japan', 'Turkey', 'Switzerland', 'Iran', 'Portugal', 'Ireland',
       'Russia', 'Greece', 'Egypt', 'Ecuador', 'Colombia', 'Sri Lanka',
       'Italy', 'China', 'Malaysia', 'Indonesia', 'Venezuela', 'Thailand',
       'Sweden', 'Nepal', 'Bangladesh', 'Philippines',
       'Dominican Republic', 'New Zealand', 'Chile', 'Honduras',
       'Azerbaijan', 'Georgia', 'Spain', 'Cyprus', 'Morocco',
       'Netherlands', 'Saudi Arabia', 'Norway', 'Singapore', 'Cuba',
       'Niger', 'Hungary', 'Greenland', 'United Arab Emirates', 'Brazil',
       'Uganda', 'Guatemala', 'Pakistan', 'Taiwan', 'Qatar',
       'Afghanistan', 'South Africa', 'Nigeria', 'Slovakia', 'Guyana',
       'Kenya', 'Iraq', 'Denmark', 'Uruguay', 'Belgium', 'Lebanon',
       'Austria', 'Liechtenstein', 'Tunisia', 'Bosnia and Herzegovina',
       'Iceland', 'Sudan', 'Czech Republic', 'Malta', 'Poland', 'Israel',
       'Serbia', 'Luxembourg', 'Trinidad and Tobago', 'Ethiopia',
       'Rwanda', 'Somalia', 'Panama', 'Ukraine', 'Kuwait', 'El Salvador',
       'Palestinian Territory', 'Papua New Guinea', 'Nicaragua', 'Jersey',
       'Bolivia', 'Bahrain', 'Cambodia', 'British Virgin Islands',
       'Algeria', 'Uzbekistan', 'Kosovo', 'Albania', 'Myanmar', 'Monaco',
       'Jamaika', 'Paraguay', 'Tanzania', 'Liberia', 'Cayman Islands',
       'Gabon', 'Seychelles', 'Fiji', 'Laos', 'Maldives', 'Ghana',
       'Mauritius', 'Gibraltar', 'Zimbabwe', 'Armenia', 'Latvia',
       'Kiribati', 'Lithuania', 'Madagascar', 'The Gambia', 'Syria',
       'Romania', 'Sierra Leone', 'Burkina Faso', 'Estonia', 'Jordan',
       'Vietnam', 'Slovenia', 'Tajikistan', "C√¥te d'Ivoire", 'Grenada',
       'Republic of the Congo', 'Democratic Republic of the Congo',
       'Senegal', 'Yemen', 'Croatia', 'Congo-Brazzaville', 'Libya',
       'North Korea', 'Tonga', 'Oman', 'Moldova', 'Haiti', 'Angola',
       'Djibouti', 'Falkland Islands', 'The Bahamas', 'Vatican City',
       'Montenegro', 'Bulgaria', 'Zambia', 'Suriname', 'North Macedonia',
       'Hong Kong', 'Guinea', 'Saint Kitts and Nevis', 'Bahamas',
       'Puerto Rico', 'Dominica', 'Vanuatu', 'Namibia', 'Kazakhstan',
       'Belize', 'Cape Verde', 'Benin', 'Northern Mariana Islands',
       'Congo', 'Isle of Man', 'Turks and Caicos Islands', 'Anguilla',
       'Belarus', 'South Sudan', 'Federated States of Micronesia',
       'Faroe Islands', 'Antigua and Barbuda', 'Samoa'], dtype=object)

In [46]:
trump_usa = trump_df[trump_df["country"].isin(["United States of America", "United States"])]
trump_usa

,created_at,tweet,likes,retweet_count,user_followers_count,user_location,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,1860.0,"Philadelphia, PA / Miami, FL",United States of America,North America,Florida,FL,2020-10-21 00:00:00
2,2020-10-15 00:00:02,"#Trump: As a student I used to hear for years,...",2.0,1.0,1185.0,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
4,2020-10-15 00:00:08,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,5393.0,Washington DC,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121
5,2020-10-15 00:00:17,@CLady62 Her 15 minutes were over long time ag...,2.0,0.0,2363.0,"Perris,California",United States of America,North America,California,CA,2020-10-21 00:00:01.866082651
7,2020-10-15 00:00:18,@DeeviousDenise @realDonaldTrump @nypost There...,0.0,0.0,766.0,"Ohio, USA",United States of America,North America,Ohio,OH,2020-10-21 00:00:02.612515712
...,...,...,...,...,...,...,...,...,...,...,...
970893,2020-11-08 23:58:46,@DonaldJTrumpJr Being a #tRump you are intimat...,0.0,0.0,29.0,"New Jersey, USA",United States of America,North America,New Jersey,NJ,2020-11-09 17:47:55.744839
970895,2020-11-08 23:58:51,Have you know decency #Trump @GOP? Do you kno...,3.0,0.0,3024.0,"New York, USA",United States of America,North America,New York,NY,2020-11-09 17:47:55.833725
970897,2020-11-08 23:58:56,LIONZ DEN PRESENTS TO YOU \n\n‚ÄúTHE WHITE OBAMA...,1.0,0.0,674.0,"Minnesota, USA",United States of America,North America,Minnesota,MN,2020-11-09 17:47:55.847439
970900,2020-11-08 23:59:05,#Trump #Patriots #MAGA2020 https://t.co/2A8Fnm...,0.0,0.0,11.0,Hell on Earth,United States of America,North America,Texas,TX,2020-11-09 17:47:55.939901
970905,2020-11-08 23:59:21,"Again with the lying, cheating, b.s. #LoserTru...",0.0,0.0,1197.0,South Florida,United States of America,North America,Kansas,KS,2020-11-09 17:47:56.062661

In [47]:
trump_usa.apply(lambda x: x.isna().sum()/len(x), axis=0)

created_at              0.000000
tweet                   0.000000
likes                   0.000000
retweet_count           0.000000
user_followers_count    0.000000
user_location           0.000000
country                 0.000000
continent               0.000000
state                   0.161191
state_code              0.161191
collected_at            0.000000
dtype: float64

In [50]:
trump_usa.drop(['state', 'state_code'], axis=1,inplace=True)

C:\Users\ReDI\AppData\Local\Temp\ipykernel_9836\1987210078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trump_usa.drop(['state', 'state_code'], axis=1,inplace=True)

In [51]:
trump_usa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 213263 entries, 0 to 970905
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            213263 non-null  object
 1   tweet                 213263 non-null  object
 2   likes                 213263 non-null  float64
 3   retweet_count         213263 non-null  float64
 4   user_followers_count  213263 non-null  float64
 5   user_location         213263 non-null  object
 6   country               213263 non-null  object
 7   continent             213263 non-null  object
 8   collected_at          213263 non-null  object
dtypes: float64(3), object(6)
memory usage: 16.3+ MB

In [52]:
trump_usa['continent'].unique()

array(['North America', 'Oceania'], dtype=object)